body{
    font-family: monospace;
    background-color: #D7BDCA;
}
:root{
    --surface-color:white;
    --curve:40;
}
*{
    box-sizing: border-box;
}
main{
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}
.card{
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve)*1px);
    overflow: hidden;
    text-decoration: none;
}